<?xml version="1.0"?>

<model>
  <name>Board Camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Aurelien Roy</name>
    <email>aurroy@hotmail.com</email>
  </author>
  
  <description>
    A board camera (board is 28 x 28 mm)
  </description>

</model>
