<?xml version="1.0"?>

<model>
  <name>Parachute small</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Aurelien Roy</name>
    <email>aurroy@hotmail.com</email>
  </author>
  
  <description>
    A parachute. It avoids hitting the ground too hard ;-)
  </description>

</model>
