<launch>
  <include file="$(find ardupilot_sitl_gazebo_plugin)/launch/iris_spawn.launch">
    <arg name="x" value="0.0"/> <!-- [m], positive to the North   1.0-->
    <arg name="y" value="0.0"/> <!-- [m], negative to the East   -8 -->
    <arg name="z" value="0.08"/> <!-- [m], positive Up   3.08 -->
    <arg name="roll" value="0"/> <!-- [rad] -->
    <arg name="pitch" value="0"/> <!-- [rad] -->
    <arg name="yaw" value="0"/> <!-- [rad], negative clockwise -->
    
    <arg name="world_name"
     value="$(find ardupilot_sitl_gazebo_plugin)/worlds/wallfollow_test_world/wallfollow_test_world.world"/>
  </include>
</launch>
