<?xml version="1.0"?>

<model>
  <name>Lidar Lite v2 - with ray</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Aurelien Roy</name>
    <email>aurroy@hotmail.com</email>
  </author>
  
  <description>
    Laser range finder, with ray represented for debug.
    The ray is modelled with only 1 rectangular face, with its normal facing up,
    thus if seen from below it does not appear (backface culling).
  </description>

</model>
